<div class="card shadow">
  <div class="card-header bg-info text-white">
    <h3>✈️ Sobre Nuestra Agencia de Viajes</h3>
  </div>
  <div class="card-body">
    <p>
      Viajes App es una aplicación desarrollada en Angular 18 para gestionar
      reservas de viajes de manera simple y rápida.
    </p>

    <p>
      Los clientes pueden iniciar sesión, registrar sus reservas y visualizar
      todas las reservas almacenadas localmente.
    </p>

    <p>
      Destinos nacionales e internacionales, con atención personalizada y
      experiencias inolvidables.
    </p>

    <p class="fw-bold text-primary">
      Integrantes: Soledad y Sonia
    </p>
  </div>
</div>